$primary-font: Iosevka;
$default-font-size: 1rem;
$larger-font-size: 1.333rem;
$smaller-font-size: 0.777rem;

%label-active {
  color: white;
}

%label {
  color: #999;
  text-align: left;
  transition: 0.25s color ease-out,
		          0.1s text-shadow ease-out;

  &:hover {
    @extend %label-active;
  }

  &:focus {
    outline: 0;
    border-bottom: 1px dashed #999;;
  }
}
